<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing App by GKC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1 class="title">IMAGE PROCESSING TOOL BY GAURAV KRC</h1>
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <h2>Only for Logical Operations </h2>
        <input type="file" name="file2" accept="image/*">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
